body {
	background-color: lightgrey; 
}

.logout {
	position: absolute;
	top: 19px;
	left: 1428px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	font-weight: 900;
}

.dash1 {
	position: absolute;
	top: -2px;
	left: 1410px;
}

.language {
	position: absolute;
	top: 0px;
	left: 1330px;
	cursor: pointer;
}

/*The paragraph box's subtitle*/
.subtitle {
	position: absolute; top:100px; left: 576px; /*Positioning the subtitle*/
	color: black; /*Setting the subtitle's color*/
	font-size: 150%; /*Changing the font size of the subtitle*/
	text-decoration: none; /*Removing text decoration*/ 
}

.text {
	position: absolute; top:150px; left: 576px; /*Positioning the subtitle*/
	color: black; /*Setting the subtitle's color*/
	font-size: 150%; /*Changing the font size of the subtitle*/
	text-decoration: none; /*Removing text decoration*/ 
}

.text2 {
	position: absolute; top:50px; left: 5px; /*Positioning the subtitle*/
	color: black; /*Setting the subtitle's color*/
	font-size: 150%; /*Changing the font size of the subtitle*/
	text-decoration: none; /*Removing text decoration*/ 
	background-color:#FFFF00;
}

.back {
	position: absolute;
	top: 668px;
	left: 20px;
	cursor: pointer;
}

.options {
	position: absolute;
	top: 169px;
	left: 850px;
	font-size: 20px;
}

.button {
	position: absolute;
	top: 220px;
	left: 578px;
	font-size: 15px;
	background-color: lightblue;
	cursor: pointer;
}

.button2 {
	position: absolute;
	top: 290px;
	left: 690px;
	font-size: 20px;
	background-color: lightblue;
	cursor: pointer;
}