<!DOCTYPE html>
<html>
<head>
  <title>Modify Product</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="modProduct.css">
<body>
  <a class="logout" href="login.html">Log Out</a>
  <h2 class="dash1">-</h2>
  <h2 class="language" onclick="modProduct.php">EN/FR</h2>

  <h1 class="title">Product to be modified:</h1>

  <h2 class="name">Product Name: </h2>
  <h2 class="qty">Quantity: </h2>
  <input class="text" type="text" placeholder="0" name="text">
  <h2 class="check">RMA: </h2>
  <input class="checkbox" type="checkbox" name="checkbox">
  <button class="button" type="button" onclick="modProduct.php">Submit Changes</button>
  <h2 class="back" onclick="modProduct.php">🡸 Back</h2>
</body>
</html>