body {
	background-color: lightgrey; 
}

.logout {
	position: absolute;
	top: 19px;
	left: 1428px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	font-weight: 900;
}

.dash1 {
	position: absolute;
	top: -2px;
	left: 1410px;
}

.language {
	position: absolute;
	top: 0px;
	left: 1330px;
	cursor: pointer;
}

/*The center window */
.window {
	position: absolute; /*Positioning the center window*/
	top: 52px; /*Positioning the center window*/
	left: 260px; /*Positioning the center window*/
	width: 1000px; /*window dimensions*/ 
	height: 640px;  /*window dimensions*/
	border: solid 2px black; /*Adding a border*/ 
	background-color: rgba(255,255,255,0.75); /*Making only the window half transparent*/ 
	overflow-y: scroll;
}

/*The set of paragraph and image*/ 
.paragraph1 {
	position: absolute; 
	top: 80px; 
	left: 40px;
	width: 900px; 
	height: 100px; 
	border: solid 2px black; 
	background-color: white;
}

.paragraph2 {
	position: absolute; 
	top: 210px; 
	left: 40px;
	width: 900px; 
	height: 100px; 
	border: solid 2px black; 
	background-color: white;
}

.paragraph3 {
	position: absolute; 
	top: 340px; 
	left: 40px;
	width: 900px; 
	height: 100px; 
	border: solid 2px black; 
	background-color: white;
}

.paragraph4 {
	position: absolute; 
	top: 470px; 
	left: 40px;
	width: 900px; 
	height: 100px; 
	border: solid 2px black; 
	background-color: white;
}

.paragraph5 {
	position: absolute; 
	top: 600px; 
	left: 40px;
	width: 900px; 
	height: 100px; 
	border: solid 2px black; 
	background-color: white;
}

.paragraph6 {
	position: absolute; 
	top: 730px; 
	left: 40px;
	width: 900px; 
	height: 100px; 
	border: solid 2px black; 
	background-color: white;
}

/*The paragraph box's subtitle*/
.subtitle {
	position: absolute; top:-15px; left: 5px; /*Positioning the subtitle*/
	color: black; /*Setting the subtitle's color*/
	font-size: 150%; /*Changing the font size of the subtitle*/
	text-decoration: none; /*Removing text decoration*/ 
}

.text {
	position: absolute; top:15px; left: 5px; /*Positioning the subtitle*/
	color: black; /*Setting the subtitle's color*/
	font-size: 150%; /*Changing the font size of the subtitle*/
	text-decoration: none; /*Removing text decoration*/ 
}

.text2 {
	position: absolute; top:50px; left: 5px; /*Positioning the subtitle*/
	color: black; /*Setting the subtitle's color*/
	font-size: 150%; /*Changing the font size of the subtitle*/
	text-decoration: none; /*Removing text decoration*/ 
	background-color:#FFFF00;
}

.back {
	position: absolute;
	top: 650px;
	left: 20px;
	cursor: pointer;
}

.info {
	position: absolute;
	top: 690px;
	left: 260px;
}