body {
	background-color: lightgrey; 
}

.language {
	position: absolute;
	top: 0px;
	left: 1440px;
	cursor: pointer;
}

.title {
	position: absolute;
	top: 200px;
	left: 725px;
}

.username {
	position: absolute;
	top: 320px;
	left: 580px;
	font-size: 20px;
}

.inputbox1 {
	position: absolute;
	top: 320px;
	left: 730px;
	font-size: 20px;
}

.password {
	position: absolute;
	top: 380px;
	left: 580px;
	font-size: 20px;
}

.inputbox2 {
	position: absolute;
	top: 380px;
	left: 730px;
	font-size: 20px;
}

.button {
	position: absolute;
	top: 480px;
	left: 725px;
	font-size: 15px;
	background-color: lightblue;
	cursor: pointer;
}