body {
    text-align: center;
    background-color: #BFBFBF;
    font-family: 'Open Sans Condensed', sans-serif;
}

.allOrders {
    text-align: left;
}

.homePageTitle {
    font-size: 30px;
}

.homePageLink {
    text-align: left;
}

